.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-content {
  padding-top: 30px;
}

.list {
  max-width: 90%;
  margin: 20px auto 10px;
  overflow: hidden;
}

.list__head {
  font-weight: 600;
}

.list__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #ccc;
  border-bottom: 0;
  position: relative;
  width: 90%;
}

.list__row-wrap:last-child .list__row {
  border-bottom: 1px solid #ccc;
}

.list__row-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.list__30 {
  border-right: 1px solid #ccc;
  width: 30%;
  overflow: hidden;
  padding: 5px;
  font-size: 14px;
  color: #555;
}

.list__30:last-child {
  border-right: 0;
}

.form__row-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 90%;
  margin: 20px auto 10px;
  overflow: hidden;
}

.form__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #ccc;
  position: relative;
  width: 90%;
}

.form__input30 {
  width: 30%;
  padding: 5px;
  font-size: 14px;
  border: 0;
  border-right: 1px solid #ccc;
}

.form__input30:last-child {
  border-right: 0;
}

.list__5--head {
  position: absolute;
  border: 0;
  width: 5%;
  //padding: 5px;
  background: transparent;
}

.list__5 {
  left: 91%;
  position: absolute;
  cursor: pointer;
  //width: 5%;
  color: #ccc;
  font-weight: 100;
  font-size: 20px;
  overflow: hidden;
  padding: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
